<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma-0.7.2/css/bulma.css') }}" />
    <title>Disclaimer</title>
    <style>
        body{
            background-color: #2a9cda;
        }
    </style>
</head>
<body>
    {% block navbar %}
        {% include "navBar.html" %}
    {% endblock navbar %}
    <br/>
    <div class="container">
        <div class="notification">
            <b class="is-size-5">Disclaimer:</b>
            <p class="is-size-6">This software runs a complex artificial intelligence that can be susceptible to failure. This software has been developed as part as an End Of Degree Work. The objective of this software is to be capable of distinguish healthy skin and 7 different skin injuries. In no case it has been implemented to diagnose skin lesions or to self-medicate based on the results.</p>
        </div>
    </div>
    <br/>
    <div class="container">
        <div class="notification">
            <b class="is-size-5">Advertencia:</b>
            <p class="is-size-6">Esta aplicación ha sido diseñada como parte del trabajo de fin de grado del alumno del grado en Ingeniería del Software en la Universidad de Málaga Elias Ibn Ziaten Cerezo. El fin de la misma es ser capaz de discernir entre piel sana y 7 lesiones cutáneas diferentes. Se excluye del fin de esta aplicación el invitar a los usuarios a automedicarse, o sustituir un experto dermatólogo por el resultado obtenido en la aplicación. En la implementación se ha utilizado un sistema inteligente compuesto de varios componentes inteligentes, susceptibles a fallo, y muy complejos.  </p>
        </div>
    </div>
{% block footer %}
    {% include "footer.html" %}
{% endblock %}
</body>
</html>