<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma-0.7.2/css/bulma.css') }}" />
    <title></title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for("start") }}">
                <img src="../static/images/logo.gif" >
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="{{ url_for("index") }}">
                Index
              </a>

              <a class="navbar-item" href="{{ url_for("analize_render") }}">
                Análisis
              </a>

              <a class="navbar-item" href="{{ url_for("disclaimer_render") }}">
                Advertencias
              </a>

            </div>
        </div>
    </nav>
</body>
</html>